body{
  background-image: url("./assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #776A57;
  font-family: fot-seurat-pron, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

p{
  font-family: fot-rodin-pron, sans-serif;
  font-style: normal;
  font-weight: 600;
}

/*****NOOKPHONE*****/

[id="nookphone"]{
  background-color: #f7f3e7;
  border-radius: 97px;
  height: 100%;
}

[id="time"]{
  color: #E4DFCC;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

li {
  display: inline-block;
  line-height: 30px;
}

input[type="checkbox"][id="water"],[id="animal"], [id="forest"], [id="flower"], [id="food"], [id="sky"], [id="winter"], [id="color"], [id="month"], [id="music"], [id="spooky"], [id="rock"], [id="other"] {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  margin: 10px;
  position: relative;
}

label:before {
  background-color: #f7f3e7;
  border-radius: 50%;
  color: #f7f3e7;
  content: " ";
  display: block;
  height: 25px;
  left: -5px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition-duration: 0.4s;
  width: 25px;
  /*transform: scale(0);*/
}

label img {
  filter: grayscale(100%);
  height: 65px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  width: 65px;
}

:checked + label:before {
  background-color: #2ABAAA;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  transition-duration: 0.4s;
  z-index: 1;
}

:checked + label img {
  filter: grayscale(0%);
  z-index: -1;
}

label img:hover{
  transform: scale(1.2);
}

/******DIALOGUE*******/

[id="rightCol"] img{
  margin: -6% 0 0 10%;
  width: 325px;
}

[id="title"] {
  background-image: url("./assets/title.svg");
  background-position:left;
  background-repeat: no-repeat;
  background-size: 530px;
  height: 334px;
}

[id="content"] {
  background-image: url("./assets/dialogBox.svg");
  background-position: top;
  background-repeat: no-repeat;
  height: 284px;
}

h1{
  background: linear-gradient(180deg,#FFCE03 0,#FFCE03);
  background-size: 15px 15px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  font-size: 36px;
  width: 60%;
}

[id="name"]{
  background-color:#F6BD79;
  border-radius: 29px;
  color: #fff;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  transform: rotate(-12.19deg);
  width: 203px;
}

[id="text"]{
  font-size: 18px;
}

.buttonContainer{
  background-image: url("./assets/button.svg");
  background-repeat: no-repeat;
  border: none;
  height: 160px;
  margin-left: 70%;
  margin-top: -15%;
  width: 273px;
}

button{
  background: linear-gradient(180deg,#FFCE03 0,#FFCE03);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 0px;
  border: none;
  color: #776A57;
  font-family: FOT-Seurat ProN;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 25% 0 0 5%;
  transition: background-size 0.2s;
}

button:hover{
  background-size: 2px 12px;
  outline-width: 0;
}

[id="result"] {
  font-size: 64px;
  margin-left: 20%;
  margin-top: -5%;
}



